<a href="https://colab.research.google.com/github/guillainbisimwa/Retail-Data-Analytics/blob/master/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img height="60px" src="/img/colab_favicon.ico" align="left" hspace="20px" vspace="5px">

## Bienvenue dans Colaboratory !

Colaboratory est un environnement de notebook Jupyter gratuit qui ne nécessite aucune configuration et qui s'exécute entièrement dans le cloud. Pour en savoir plus, consultez les [questions fréquentes](https://research.google.com/colaboratory/faq.html).

## Premiers pas
- [Présentation de Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Chargement et sauvegarde des données : fichiers locaux, unité, feuilles, Google Cloud Storage](/notebooks/io.ipynb)
- [Importation de bibliothèques et installation de dépendances](/notebooks/snippets/importing_libraries.ipynb)
- [Utilisation de Google Cloud BigQuery](/notebooks/bigquery.ipynb)
- [Formulaires](/notebooks/forms.ipynb), [Graphiques](/notebooks/charts.ipynb), [Markdown](/notebooks/markdown_guide.ipynb) et [Widgets](/notebooks/widgets.ipynb)
- [TensorFlow avec GPU](/notebooks/gpu.ipynb)
- [Cours d'initiation au machine learning](https://developers.google.com/machine-learning/crash-course/) : [Introduction à Pandas](/notebooks/mlcc/intro_to_pandas.ipynb) et [Premiers pas avec TensorFlow](/notebooks/mlcc/first_steps_with_tensor_flow.ipynb)

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
# Stores
# Contains anonymized information about the 45 stores, indicating the type and size of store.
stores = 'https://raw.githubusercontent.com/guillainbisimwa/Retail-Data-Analytics/master/dataset/stores%20data-set.csv'

# feature
# Contains additional data related to the store, department, and regional activity for the given dates.
feature = 'https://raw.githubusercontent.com/guillainbisimwa/Retail-Data-Analytics/master/dataset/Features%20data%20set.csv'

# Sales
# Contains historical sales data, which covers to 2010-02-05 to 2012-11-01.
sales = 'https://raw.githubusercontent.com/guillainbisimwa/Retail-Data-Analytics/master/dataset/sales%20data-set.csv'

data_stores = pd.read_csv(stores)
data_feature = pd.read_csv(feature)
data_sales = pd.read_csv(sales)

In [13]:
# Merge the data in a unique DataFrame
df = pd.merge(pd.merge(data_feature, data_sales, on=['Store', 'Date', 'IsHoliday']), data_stores, on=['Store'])

# Convert Date to pandas Date format
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Dept,Weekly_Sales,Type,Size
0,1,2010-05-02,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,1,24924.50,A,151315
1,1,2010-05-02,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,2,50605.27,A,151315
2,1,2010-05-02,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,3,13740.12,A,151315
3,1,2010-05-02,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,4,39954.04,A,151315
4,1,2010-05-02,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,5,32229.38,A,151315

In [0]:
# visualization
plt.figure(figsize=(15,10))
sns.barplot(x=df['Temperature'], y=df['Dept'])
plt.xticks(rotation= 45)
plt.xlabel('States')
plt.ylabel('Poverty Rate')
plt.title('Poverty Rate Given States')

/usr/local/lib/python3.6/dist-packages/seaborn/categorical.py:1428: FutureWarning: remove_na is deprecated and is a private function. Do not use.
  stat_data = remove_na(group_data)